@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap');

.bodyHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://assets.website-files.com/60d11c057f7d152913a39f31/6158e9d4c5ddbe2e9863e810_AdobeStock_195024674_50.jpeg);
    background-size: cover;
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: center;
}

.divNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.726);
    height: 6em;
    width: 70em;
}

.btnCreate{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    margin: 15px;
    border: 0;
    background-color: #e6bb00;
    font-weight: 300;
    line-height: 30px;
    transition: .3s ease-in-out;
    width: 9em;
    height: 2em;
}

.btnCreate:hover{
    background-color: #0000008a;
    color: #ffffff;
    font-weight: 300;
}
