@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');


.bodyLanding{
    display: flex;
    justify-content: center;
    background-image: url(https://besthqwallpapers.com/Uploads/30-9-2018/67271/australian-shepherd-autumn-fallen-leaves-little-aussie-dogs.jpg);
    background-size: cover;
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.divLanding{
    margin-top: 15em;
    margin-left: 45em;
}
.titleLanding{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.05;
    letter-spacing: -.015em;
}

.spanLanding{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -.015em;
    color: #fbcf15;
}

.btnLanding{
    margin-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    color: #fff;
    font-size: 20px;
    border: 0;
    background-color: #0e0d0d8a;
    font-weight: 300;
    line-height: 30px;
    transition: .5s ease-in-out;
    width: 10em;
}
.btnLanding:hover{
    background-color: #fbd115d0;
    color: #000000;
    font-weight: 300;
}


